#The dataset is adapted from the dataset in Card and Krueger (1994), which estimates the causal effect of an increase in the state minimum wages on employment outcomes.
#We replicate their Difference in difference estimates in Python.

In [8]:
import pandas as pd
from sklearn.linear_model import LinearRegression
df = pd.read_csv('/Users/prachijhamb/Downloads/employment.csv')
df.info()
df.head()
df.groupby('state').mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          384 non-null    int64
 1   total_emp_feb  384 non-null    float64
 2   total_emp_nov  384 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 9.1 KB

       total_emp_feb  total_emp_nov
state
0          23.380000      21.096667
1          20.430583      20.897249

In [9]:
# check by calculating the mean for each group directly
# 0 PA control group, 1 NJ treatment group

mean_emp_pa_before = df.groupby('state').mean().iloc[0, 0]
mean_emp_pa_after = df.groupby('state').mean().iloc[0, 1]
mean_emp_nj_before = df.groupby('state').mean().iloc[1, 0]
mean_emp_nj_after = df.groupby('state').mean().iloc[1, 1]

print(f'mean PA employment before: {mean_emp_pa_before:.2f}')
print(f'mean PA employment after: {mean_emp_pa_after:.2f}')
print(f'mean NJ employment before: {mean_emp_nj_before:.2f}')
print(f'mean NJ employment after: {mean_emp_nj_after:.2f}')

pa_diff = mean_emp_pa_after - mean_emp_pa_before
nj_diff = mean_emp_nj_after - mean_emp_nj_before
did = nj_diff - pa_diff
print(f'DID in mean employment is {did:.2f}')

mean PA employment before: 23.38
mean PA employment after: 21.10
mean NJ employment before: 20.43
mean NJ employment after: 20.90
DID in mean employment is 2.75

In [10]:
# group g: 0 control group (PA), 1 treatment group (NJ)
# t: 0 before treatment (min wage raise), 1 after treatment
# gt: interaction of g * t

# data before the treatment 
df_before = df[['total_emp_feb', 'state']]
df_before['t'] = 0
df_before.columns = ['total_emp', 'g', 't']

# data after the treatment
df_after = df[['total_emp_nov', 'state']]
df_after['t'] = 1
df_after.columns = ['total_emp', 'g', 't']

# data for regression
df_reg = pd.concat([df_before, df_after])

# create the interaction 
df_reg['gt'] = df_reg.g * df_reg.t

df_reg

     total_emp  g  t  gt
0        40.50  0  0   0
1        13.75  0  0   0
2         8.50  0  0   0
3        34.00  0  0   0
4        24.00  0  0   0
..         ... .. ..  ..
379      23.75  1  1   1
380      17.50  1  1   1
381      20.50  1  1   1
382      20.50  1  1   1
383      25.00  1  1   1

[768 rows x 4 columns]

In [11]:
# regression via sklearn
linearreg = LinearRegression()

X = df_reg[['g', 't', 'gt']]
y = df_reg.total_emp

linearreg.fit(X, y)
linearreg.coef_

array([-2.94941748, -2.28333333,  2.75      ])